@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
   // background-color: #e2e8f0;
   height: 100vh;
   background-color: #000;
   &.resetBk{
    background: none;
   }
   &.resultPage{
    /*
    background: none;
    background-color: #fff;
    */
   }
}
.MuiTableContainer-root{
    box-shadow: none ;
    &::-webkit-scrollbar {
        background-color:#000;
        width:8px
    }
    
    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background-color:#000
    }
    &::-webkit-scrollbar-track:hover {
        background-color:#f4f4f4
    }
    
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color:#babac0;
        border-radius:16px;
        border:5px solid transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color:#a0a0a5;
        border:4px solid #f4f4f4
    }
    th{
        background-color: #94a1b3  !important;
        color: #fff !important;
        >div{
            line-height: 1.2;
            font-weight: 500 !important;
        }
    }
    tbody{
        td{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
           color: #161212c9;
           padding: 10px 16px;
        }
        tr:nth-child(odd){
            background-color: #ecf0f1;
        }
    }
    thead{
        th{
            padding: 10px 16px;
        }
    }
}
.logo{
    width: 200px;
    margin: 15px auto;
    
}
.MuiPaper-root{
    box-shadow: none !important; 
}
.customContainerTable{
  //  padding: 0;
 
  
  &::-webkit-scrollbar {
    background-color:#000;
    width:8px
}

/* background of the scrollbar except button or resizer */
&::-webkit-scrollbar-track {
    background-color:#000
}
&::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
&::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid transparent;
}
&::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}



}
.customMeal{
    padding: 12px 15px;
    background-color: transparent;
    border: 1px solid #ccc;
    flex-grow: 1;
    
}
button:disabled{
    opacity: .5;
 
    
    
}
button.btn-recommend{
    background-color: #d63031;
}
 
button.addBtn{
    background-color: rgb(255, 187, 40);
    color: #fff;
    border-radius: 50px;
    font-weight: 400;
    padding: 5px 10px;
}
button.removeBtn{
    background-color: #4d55cd;
    
    border-radius: 50px;
    font-weight: 400;
    padding: 5px 10px;
}
//selectBtn
.customize-meal{
    padding: 4px 10px;
    background-color: #646464a8;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
}

.textInput{
    input{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.selectBox {
    #demo-simple-select{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    >label{
        top: -5px;
    }
}
button.calcQuantity{
    transition: .25s;
    border: 1px solid transparent;
    letter-spacing: .75px;
    &:hover{
        background-color: #be2e2e;
        color: #fff;


    }
}
.resetBtn{
    background-color: #d7d7d7;
    color: #59636c;
    border: 0px solid #000;
    font-weight: 500;
    padding-bottom: 7px;
}
.floatTable{
    position: relative;
    max-width: 400px;
    left: 0;
    background-color: #23233a;
    padding: 20px 10px;
    height: 100vh;
    transition: .25s;
    
    .dietPng{
        display: none;
    }

    &.close{
        max-width: 55px;
        .MuiPaper-root{
            opacity: 0;
            z-index: -1;
            position: relative;
        }
        .showFoodsTable{
          button{
            transform: rotate(0deg);
          }
        }
        .dietPng{
            display: block;
        }
        .select-unselect{
            opacity: 0;
        }
    }
}

.customContainerTable{
    width: 500px;
    max-width: 90%;

}
.container-inputs{
    @media only screen and (max-width: 600px){
        max-width: 90%;
        flex-direction: column;
        >div{
            width: 100%;
            margin: 0;
            &:first-child{
                margin-bottom: 15px;
            }
            .MuiFormControl-root{
                width: 100%;
                margin: 0;
            }
        }
    }
}
.showFoodsTable{
    position: absolute;
    bottom: 50px;
    right: 15px;
    button{
        transition: .25s;
        transform: rotate(180deg);
    }
    svg{
        width: 25px;
        path{
            fill: #fff !important;
        }
    }
}

.resultPage {
    .divide-y{
        position: static;
        >div{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media only screen and (max-width: 600px){
    
        flex-direction: column;
        position: static;
        transform: none;
        height: 500px;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        overflow-y: scroll;
        flex-wrap: nowrap;
        /* padding: 50px 0; */
        padding: 0;
        border: none;
        .dataMass{
            max-width: 100%;
            padding-top: 50px;

        }
        .divide-y{
            display: flex;
            flex-wrap: wrap;
           // justify-content: center;
        }
        .dataChart ~a{
            left: auto;
            right: 15px;
        }
        .dataChart ~div{
            margin-top: 0px;
            padding-bottom: 40px;
        }
    }
}
.customContainerTable {
    padding: 0;
    transform: none;
    margin: 0;
    width: 500px;
    /* margin: auto; */
    background: none;
    border: none;
    top: 50%;
    left: 50%;
    position: static;
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* background-color: #f00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dde1e87a;
}
.customizeMeals{
    width: 500px;
    margin: auto;
    max-width: 90%;
    background-color: #0a141fe6;
    color: #fff;
    padding: 50px 0;
    border-radius: 15px;
}
.how-many-meals{
    label{
        color: #fff !important;
    }
    .MuiInputBase-root{
        &:hover{
            border: 1px solid transparent !important;
            .MuiSelect-select{
                border: 1px solid transparent !important;
               
            }
            fieldset{
                border: 1px solid #fff !important;
            }
        }
    }
    .MuiSelect-select{
      //  border: 1px solid #fff;
      color: #fff;
        &:hover{
            border: 1px solid #fff;
        }
    }
    fieldset{
        border: 1px solid #fff !important;
        legend span{
            color: #fff !important;
        }
    }
    svg{
        fill: #fff;
    }
}

.container-datafoods{
    @media only screen and (max-width: 600px){
        flex-direction: column;
        .showFoodsTable,.dietPng{
            display: none;
        }
        .floatTable   {
            height: auto;
            max-width: 100%;
            order: 5;
            min-height: 100vh;
            &~div{
                width: 100% !important;
            }
        }
        .MuiPaper-root {
            height: 400px;
            overflow-y: scroll;
        }
        .customizeMeals{
            border-radius: 0;
            width: 100%;
            max-width: 100%;
        }
        .customContainerTable {
            background: none;
        }
    }
}