.ourworld{
    &__images{
        >div{
            position: relative;
        }
        img{
            width: 330px;
        }
        span{
            position: absolute;
            bottom: 6px;
            right: 0;
            left: 0;
            display: block;
            margin: auto;
            width: 92%;
            text-align: center;
            padding: 10px 0px;
            background-color: rgba(10, 10, 10, 0.8);
        }
        @media only screen and (max-width: 1200px){
            width: 90%;
            margin: auto;
         }
         @media only screen and (max-width:992px){
            width: 80%;
            margin: auto;
         }
    }
    .container>div.flex{
        @media only screen and (max-width: 1200px){
           flex-direction: column;
        }
    }
    .container>div.flex >div.flex-col.items-start{
        @media only screen and (max-width: 1200px){
            width: 100%;
            align-items: center;
            margin-bottom: 50px;
            h2{
                max-width: 100%;
                text-align: center;
            }
         }
    } 
    p{
        @media only screen and (max-width: 992px){
           width: 70%;
           margin: 50px auto;
           text-align: center;
        }
    }


}