.trainee{
    &__images{
        >div{
            position: relative;
        }
        img{
            height: 650px;
            &~span{
                position: absolute;
                bottom: 0px;
                right: 0;
                left: 0;
                display: block;
               // margin: auto;
               // width: 92%;
                text-align: center;
                padding: 10px 0px;
                background-color: rgba(10, 10, 10, 0.8);
            }
        }
        &--john{
      width: 650px;
      &~span{
        width: 650px !important;
      }
        }
        &--ken{
        width: 360px;
        &~span{
            width: 360px !important;
          }
        }
    }
    .container>div.flex  {
      @media only screen and (max-width:1200px){
       flex-direction: column;
       span,img{
        width: 100% !important;
       }
       img{
        @media only screen and (max-width:768px){
       height: auto;
        }
       }
    }
      >div{
        @media only screen and (max-width:1200px){
          width: 50%;
          margin-bottom: 25px;
      }
      @media only screen and (max-width:992px){
        width: 80%;
        
    }
      }
      
    }
    
}